// {
//     "presets": [
//         "@babel/env",
//         "@babel/react"
//     ],
//     "plugins": ["@babel/plugin-proposal-class-properties"]
// }
// {
//     "plugins": [
//       ["transform-runtime", {
//         "regenerator": true
//       }]
//     ]
//   }
{
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}